@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
}
.hidden{
    display: none;   
}
.btn-primary {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
}

.btn-black {
    border-radius: 46px;
    background: rgb(14, 13, 13);
    padding: 8px 20px 8px 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.button {
    margin-top: 4%;
}

.header-container {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 3%;

}

.nav h1 {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

#text-style {
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-size: 85px;
}

.menu-list {
    display: flex;
    gap: 4rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 6px 5px;
    align-items: center;
    padding-right: 10px;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
}

.banner-section {
    width: 80%;
    margin: 0 auto;
    padding-top: 3%;
    display: flex;
}

.banner-section-left {
    width: 50%;
}

.banner-section-left h1 {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 6rem;
    margin-top: 4%;
}

.banner-section-left p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-top: 4%;
}

.banner-section-right {
    background-image: url(../assets/banner.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 50%;
    min-height: 500px;
    background-position: calc(100% - 20%) center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.transparent-bg-right {
    width: 20%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-top: 10%;
    margin-left: 73%;
}


.transparent-bg-right h2 {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 900;
}

.transparent-bg-right p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;

}

.transparent-bg-left {
    width: 20%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-left: 25%;
}

#circle {
    width: 35px;
    height: 35px;
    background-color: rgb(230, 83, 60);
    border-radius: 100%;
}

.title h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 900;
}

.title p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    padding-top: 5px;
}


/* habit section start */
.habit-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.habit-container h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.habit-container p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.habit-cart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4%;
    gap: 20px;
}

.habit-cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.habit-cart img {
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2px;
}

.habit-cart h3 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.habit-cart p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    width: 70%;
}

/* habit section end */

/* run section start */
.run-container {
    width: 70%;
    background-color: aliceblue;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-text {
    width: 50%;
    padding: 4%;
}

.run-text h1 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}

.run-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    width: 60%;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.run-img {
    padding: 2%;
}

.run-container img {
    width: 100%;
    height: 315px;
    border-radius: 18px;

}

/* run section end */

/* bmi calculator section start */
.bmi-container {
    width: 100%;
    background: rgb(34, 34, 34);
    padding-bottom: 2%;
}

.bmi-section {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bmi-table {
    width: 50%;
    margin-top: 4%;
}

.bmi-table h3 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 50%;
}

table thead th {
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 300;
}

table td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;

}

table td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px 10px;
}

.bmi-calculate {
    margin-top: 4%;
}

.bmi-calculate h3 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
}

.bmi-calculate p {
    color: rgba(255, 255, 255, 0.5);   
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    margin-bottom: 20px;
}

input[type=text], select {
    width: 35%;
    padding: 12px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin: 5px;
    color: rgba(255, 255, 255, 0.5);  
 }
 .select-w-1{
    width: 38%;
 }
 .select-w-2{
    width: 77.5%;
    margin-bottom: 20px;
 }
 /* bmi calculator section end */


 /* team member section start */
 .team-container{
    width: 70%;
    margin: 1% auto;   
    padding: 3%;
   
 }
 .team-container h1{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
 }
 .team-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
 }
.team-member{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2%;
    background: rgb(34, 34, 34);
    border-radius: 18px;
    padding: 2%;
   
}
.member{
    width: 100%;
    background-color: aliceblue;
}
.member img{
    width: 100%;
    height: 310px;
}
.backgound{
    width: 100%;
    height: 312px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 18px;
}
.backgound h5{
   font-size: 15px;
   color: white;
   position: relative;
   top: 85%;
   padding-left: 5%;
}
.backgound p{
    font-size: 15px;
    color: white;
    opacity: .5;
    position: relative;
    top: 80%;
    padding-left: 5%;
    text-align: left;
 }
.member-1{
    background-image: url(../assets/trainer1.png);
   
}
.member-2{
    background-image: url(../assets/trainer2.png);
}
.member-3{
    background-image: url(../assets/trainer3.png);
}
.member-4{
    background-image: url(../assets/trainer4.png);
}
.member-5{
    background-image: url(../assets/trainer5.png);
}
.member-6{
    background-image: url(../assets/trainer6.png);
}
 /* team member section end */

.footer{
    width: 100%;
    background: rgb(34, 34, 34);
    padding-bottom: 2%;
    
}
.footer-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    padding: 2% 0% 0% 0%;
}
.footer-logo h1{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}
.footer-logo p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 20px;
}
.footer-get{
    margin-top: 2%;  
}
.footer-get h3{
    font-size: 25px;
    font-weight: 800;
    color: white;
    margin-top: 2%;
}
.footer-get li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 10px;
}
.footer-served{
    margin: 0 auto;
    width: 70%;
    border-top: 1px solid  rgba(255, 255, 255, 0.1);
    margin-top: 4%;
}
.footer-served p{
    color: rgba(255, 255, 255, 0.5);
    padding-top: 2%;
    text-align: center;
    font-size: 12px;
}

/* responsive for small device */

@media screen and (max-width:576px){
    .hidden{
        display: inline-block;
        float: right;
        padding-right: 10%;
       
    }
    .hidden .i{
        
        color: rgb(255, 255, 255);
    }
    .nav {        
        flex-direction: column;
        width: 100%;
        background-color: rgba(48, 39, 39, 0.5);
        padding-left: 5%;
    }
    .nav h1{        
        text-align: left;
      
    }
    .menu-list {
        display: none;      
    }
    .banner-section{
        flex-direction: column;
    }
    .banner-section-left {
        width: 100%;
    }
    .banner-section-left h1 {
        color: rgb(255, 255, 255);
        font-size: 38px;
        font-weight: 900;
        line-height: 3rem;
        margin-top: 4%;
        padding: 0;
    }
    .banner-section-right {
        background-image: url(../assets/banner.png);
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
        min-height:500px;
        background-position: calc(100% - 20%) center;
        margin-top: 30px;
    }
    .habit-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10%;   
    }
    .habit-container h1 {
        color: rgb(255, 255, 255);
        font-size: 38px;
        font-weight: 900;
        width: 100%;
        text-align: center;
    }
    .habit-cart-container {
        flex-direction: column;
    }
    .run-container {
        width: 100%;       
        margin: 5% auto;
       flex-direction: column;
    }
    .run-text {
        width: 100%;
        padding: 4%;
    }
    .bmi-section {
        width: 100%;
       flex-direction: column;
    }
    .bmi-table {
        width: 100%;
        margin-top: 4%;
    }
    table {
        width: 100%;
    }
    input[type=text], select {
        width: 40%; 
     }
     .select-w-1{
        width: 45%;
     }
     .select-w-2{
        width: 95.5%;
        margin-bottom: 20px;
     }
     .team-container{
        width: 100%;
     }
     .team-member{
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-container{
        width: 100%;     
        flex-direction: column;
        padding-left: 5%;
    }
}